<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="~/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="~/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">@User.Identity.Name</h5>
                  @*<span>Gold Member</span>*@
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
              <span class="menu-icon">
                <i class="mdi mdi-account-plus"></i>
              </span>
              <span class="menu-title">Student Register</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="University" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-book-open-variant"></i>
              </span>
              <span class="menu-title">University</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Department" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-adjust"></i>
              </span>
              <span class="menu-title">Department</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-controller="Participants" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
              <span class="menu-title">Participants</span>
            </a>
          </li>
        </ul>
      </nav>